body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #222;
}

.navlink {
  color: white;
  text-decoration: none;
  border-radius: 6px;
  padding: 4px 12px;
}

.active {
  background-color: orange;
}